body {
	background-image: url(./images/background.jpg);
	background-size: cover;
	margin: 0;
}
.formContainer {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}
.formInner {
	width: 30%;
}
.formContainer h1 {
	color: #fff;
	text-align: center;
}
.formContainer input {
	box-sizing: border-box;
	display: block;
	margin-bottom: 15px;
	outline: none;
	padding: 3%;
	width: 100%;
}
.formContainer button {
	background-color: #3383FF;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
	padding: 3%;
	width: 100%;
}
